body {
  background-color: #F3E9F1;
  margin: 0;
  text-align: center;
 }
h1, h3{
  font-family: 'Merienda', cursive;
 }

p {
  font-family: 'Lato', sans-serif;
  margin-bottom: 140px;
 }
img {
  height: 300px;
 }
#products
{
  display:flex;
  justify-content: center;
}
#teddiesImg
{
  display: flex;
  flex-direction: column;
  height: 300px;
}
#teddiesNamePrice
{
  width: 180px;
}
#teddiesBtn
{
  display: flex;
  flex-direction: column;
  padding-top: 100px;
}
button
{
  margin-bottom: 280px;
}
