body {
  background-color: #F3E9F1;
  margin: 0;
  text-align: center;
 }
h1, h3{
  font-family: 'Merienda', cursive;
 }

p {
  font-family: 'Lato', sans-serif;
  margin-bottom: 100px;
 }
img {
  height: 300px;
  border-bottom: solid cadetblue 1px;
 }
#all-products
{
  display: flex ;
  flex-wrap: wrap;
  justify-content: center;
}
article
{
  margin: auto;
  box-shadow: 0 0 1em grey;
  margin-bottom: 5%;
  background-color: blanchedalmond;
}
button
{
  margin-bottom: 5%;
}
#teddy
{
  display: flex;
  flex-direction: column;
  width: 25%;
  justify-content: center;
  text-align: center;
}
select
{
  width: 30%;
  margin: auto;
  font-family: 'Merienda', cursive;
  margin-bottom: 5%;
}
button
{
  font-family: 'Merienda', cursive;
  background-color: coral;
}


