body
{
    text-align: center;
    background-color:#F3E9F1 ;
    margin: 0;
}
#logo
{
   width: 85%;
   height: auto;
}
h1
{
    font-family: 'Merienda', cursive; 
}
p
{
    font-family: 'Lato', sans-serif;
}
img
{
    height: 200px;
    width: 150px;
}
.products-img
{
    width: 85%;
    box-shadow: 0 0 1em grey ;
    border-radius: 20px;
}
#product-img
{
    width: 85%;
    box-shadow: 0 0 1em grey ;
    border-radius: 20px;
}